<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>등록되었습니다.</h1>
<hr>
<table border=1>
	<thead>
		<tr>
			<th>bno</th><th>title</th><th>content</th><th>writer</th><th>regdate</th><th>moddate</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="board:${list}">
			<td>[[${board.bno}]]</td>
			<td><a th:href="@{/board/getBoard?search-bno={bno}(bno=${board.bno})}">[[${board.title}]]</td>
			<td>[[${board.content}]]</td>
			<td>[[${board.writer}]]</td>
			<td>[[${board.regdate}]]</td>
			<td>[[${board.moddate}]]</td>
		</tr>	
	</tbody>
</table>
<h1>상세조회</h1>
<form action="/board/getBoard" method="get">
	<input type="text" name="search-bno">
	<input type="submit" value="조회">







</form>
</body>
</html>