<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>로그인에 성공했습니다.</h1>

<h1>출근 체크</h1>
<hr>
<form action="work/workStart">
	이름:<input type="text" name="id" th:value=${session.member.id} >
	시간:<input type="text" name="gotowork"readonly>
	<div id="current-time"></div>
	<input type="submit" value="출근">

</form>
<hr>
    <script>
        function updateTime() {
            const now = new Date(); // 현재 시간 가져오기
            const hours = String(now.getHours()).padStart(2, '0'); // 시
            const minutes = String(now.getMinutes()).padStart(2, '0'); // 분
            const seconds = String(now.getSeconds()).padStart(2, '0'); // 초
            const formattedTime = `${hours}:${minutes}:${seconds}`; // 시간 형식 지정

            document.getElementById('current-time').textContent = formattedTime;
            	
        }

        // 1초마다 시간 업데이트
        setInterval(updateClock, 1000);
        updateClock(); // 초기 실행
    </script>
</body>
</html>